{
  "presets": [
    ["env", {"modules": false}],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-es2015-classes"
  ],
  "env": {
    "production": {
      "presets": ["minify"],
      "ignore": "entities"
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
